<div class="container-fluid">
  <div class="row" id="top" style='position: absolute;height:100%;width:100%;'>
    <div class="cover col-xs-12 col-md-12 col-lg-12">
        <div class="cover-text">
          <!-- <%=image_tag("nz4.jpg", size: "100x100")%> -->
          <h1 class="logo">
            <span class="semi-bold">NODE</span><span class="light-italic">ZEN</span>
          </h1>
          <h3 class="light-italic">Introducing a personal way to explore the topics which matter to you</h3>
          <a href="#main" class="btn btn-default btn-lg page_scroll">Learn More</a>
        </div>
        <div class="bg"></div>
    </div>
  </div>
  <div class="row" id="navigation">
    <div class="navigation navbar-collapse collapse">
      <div class="navbar-brand">
          <a href="#top" class="bold nounderline page_scroll">NodeZen</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
            <a href="#explore" class="page_scroll">Explore</a>
        </li>
        <li>
            <a href="#discover" class="page_scroll">Discover</a>
        </li>
        <li>
            <a href="#collaborate" class="page_scroll">Collaborate</a>
        </li>
        <li>
            <a href="#graph" class="page_scroll">The Graph</a>
        </li>
        <li>
            <a href="#context" class="page_scroll">Context</a>
        </li>
      </ul>
    </div>
  </div>
  <section id="main">
    <div class="row">
      <div id="cy_values" style='height: 500px; min-width:320px' class="hidden-xs col-md-6 col-lg-6"></div>
      <div class="outline-text col-xs-12 col-md-6 col-lg-6">
        <h1>Explore. Discover. Collaborate.</h1>
        <hr>
        <p id="explore"><span class='bold' style='color:black'>Exploration</span> of internet content has never been more engaging. By applying smart filtering, we free you of hours of searching letting you concentrate on exploring content you are interested in.</p>
        <p id="discover"><span class='bold' style='color:black'>Discovering</span> the content you are interested in has never been easier! Want to see the pictures of the Snow leopard you just read about in an article? Or maybe music enspired by them? It'll be right there instantly, waiting to be Discovered.</p>
        <p id="collaborate"><span class='bold' style='color:black'>Collaboration</span> is at the core of NodeZen. You have the ability to make NodeZen the most exciting place to share content, talk about anything and most importantly find likeminded individuals.</p>
      </div>
    </div>
    <div class="row">
      <div class="outline-text col-xs-12 col-md-6 col-lg-6">
        <h1 id="graph">The Graph</h1>
        <hr>
        <p class="bold" style='color:black'>Are you tired of constant scrolling and swiping to find what matters to you?<br> So are we!</p>
        <p> We harness the power of the graph, to bring you the most engaging and easy way to Explore the content you love.</p>
        <p>NodeZen is powered by an intuitive and easy-to-use information visualization technology. You can spot useful content at a single glance. You can dive deeper into a subject and Collaborate with likeminded individuals. </p>
      </div>
      <div id="cy_graph" style='height: 500px' class="hidden-xs col-md-6 col-lg-6"></div>
    </div>
    <div class="row">
<!--       <div class="hidden-xs col-md-6 col-lg-6">
        <div id="cy" style='height: 500px;' ></div>
      </div> -->
        
        <div class="outline-text col-xs-12 col-md-12 col-lg-12">
            <h1 id="context">Context</h1>
            <hr>
            <p>By analysing what you are Exploring, we will show you content which is tailored to your preferences as well as context. No more jumping from link to link to find out information.</p>
            <p>Our context aware semantic filtering considers what you are currently Exploring and brings out the most relevant content for you to Discover.</p>
            <p>Whether it is articles, multi-media files, individuals with subject expertise or deals. NodeZen carefully considers its knowledge base and serves you the information in an intuitive way.</p>
        </div>
    </div>
  </section>
</div>
<%= render 'layouts/footer' %>