<div ng-controller="GraphCtrl">
  <graph data="graphData"></graph>
  <div journey-line data="graphData" line="journeyLine"></div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Thank you for trying out NodeZen</h4>
        </div>
        <div class="modal-body">
        <p>Thank you for trying out our tech demo.</p>
        <p>This is a very early prototype and to help us build a product you would love to use please consider filling out a quick survey</p>
        <p>If you still want to explore some more, please continue.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Return to the graph</button>
          <form action="http://goo.gl/forms/FK7N5FaYGs" style='display:inline'>
            <input type="submit" class="btn btn-primary" value="Go to the survey">
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

