<div ng-controller="GraphCtrl">
  <graph data="graphData"></graph>
  <div journey-line data="graphData" line="journeyLine"></div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Thank you for trying out NodeZen</h4>
        </div>
        <div class="modal-body">
        <p>Thank you for trying out our tech demo.</p>
        <p>This is a very early prototype and to help us build a product you would love to use please consider filling out a quick survey</p>
        <p>Also please share it with your friends using one of the buttons provided below</p>
        <p>If you still want to explore some more, please continue.</p>
        </div>
        <div class="modal-footer">
          <div class="social">
            <a class="facebook btn btn-primary btn-lg" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=www.nodezen.me"><i class="fa fa-facebook"></i></a>
            <a class="twitter btn btn-primary btn-lg" href="https://twitter.com/share?url=http%3A%2F%2Fwww.nodezen.me&via=NodeZenMCR&hashtags=techdemo&text=Check%20out%20this%20tech%20demo%20of%20revolutionary%20new%20way%20to%20discover%20content%20at">
            <i class="fa fa-twitter"></i>
          </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Return to the graph</button>
            <form action="http://goo.gl/forms/FK7N5FaYGs" style='display:inline'>
              <input type="submit" class="btn btn-primary" value="Go to the survey">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="tutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Welcome to NodeZen Tech Demo</h4>
        </div>
        <div class="modal-body">
        <h3 style='margin-top:0'>Navigation</h3>
        <p>Navigation through our UI is made by clicking on any of the bubbles or as we call them - <span style='color: #6878D9'>Nodes</span></p>
        <p>If you hover over any node you'll see the content inside. You'll see youtube videos, songs as well as websites. Icons hint at the type of content inside.</p>
        <p>If it's a website, you can go to the source location by pressing on expand button in top right corner of preview picture</p>
        <h3>Journey Line</h3>
        <p>During your exploration our <span style='color: #6878D9'>Journey Line</span>, located in bottom left corner, keeps the history of your path. You can hover over to see the title of the node. By clicking on the circle, you'll be taken back to that location.</p>
        <h3>One more thing...</h3>
        <p>We would strongly encourage you to explore till the end of your chosen path. There you'll be given a chance to complete a short survey as well as share our demo on Facebook and Twitter. It would really help us a lot! </p>
        </div>
        <div class="modal-footer">
          <button style="border-radius: 20px" type="button" class="btn btn-primary" data-dismiss="modal">Let me try it already!</button>
        </div>
      </div>
    </div>
  </div>
</div>

