<label>Change Name</label>
<input ng-change="onNameChange('name', selectedNode, nodename)" ng-model="nodename">
<button ng-click="loadNodes()">Load Nodes</button>
<a href="#/feedback">Feedback</a>
<div id="cy"></div>