@import "static_pages";

#cy-main {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}

.qtip
{
  max-width:600px;    
}
.qtip-content
{
  height: 300px;
  overflow: auto;
}

/* 
  d3js vis
*/
.link {
  stroke: #ccc;
}
.node circle {
  fill: rgb(156,217,240);
}
.d3-tip{
  padding: 0 !important;
  border-radius: 4px !important;
  div{
    padding: 15px;
    font-family: open_sansregular;
  }
}
.journey-tip{
  padding: 0 !important;
  // border-radius: 4px !important;
  background-color: gray;
  span{
    padding: 15px;
    font-family: open_sansregular;
  }
}
.tags{
  .tag{
    background: rgb(63,68,232);
    display: inline;
    border-radius: 21px;
    padding: 1px 10px 1px 10px;
    margin: 0 5px;
  }
}
.widget{
  border-radius: 0 !important; 
  border: none !important; 
}
.preview{
  position: relative;
  max-width: 100%;
}
.social{
  .btn{
    border-radius: 20px !important;
  }
  .facebook{
    background: #3b5998;
    border-color: #3b5998;
  }
  .twitter{
    background: #0084b4;
    border-color: #0084b4;
  }
  .twitter:hover{
    background: #00aced;
  }
  .google{
    background: #d34836;
    border-color: #d34836;
  }
}