@import "static_pages";

#cy-main {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}

.qtip
{
  max-width:600px;    
}
.qtip-content
{
  height: 300px;
  overflow: auto;
}

/* 
  d3js vis
*/
.link {
  stroke: #ccc;
}
.node circle {
  fill: rgb(156,217,240);
}

.journey-tip{
  padding: 0;
  border-radius: 4px;
  background-color: gray;
  span{
    color: white;
    padding: 15px;
    font-family: open_sansregular;
  }
}

.tags{

  .tag{
    background: rgb(63,68,232);
    display: inline-block;
    border-radius: 21px;
    padding: 1px 10px;
    margin: 5px 5px;
  }
  .tag:first-child { margin-left: 0 !important; }
  .tag:nth-child(3n+6) { margin-left: 0 !important; padding-left: 15px !important; padding-right: 15px !important;
 }
}
.description{
  margin-bottom: 0px !important;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.source{
  margin-top: 0px !important;
  border-top: 1px solid gray;
  padding-top: 15px;
}
.title{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 12;
  /* width: 100%; */
  margin: 0 !important;
  padding: 5px;
  border-radius: 4px 0 0 0;
}
.expand{
  i{
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 12;
    padding: 3px;
    font-size: 18px !important;
    transition: all .2s ease-in-out;
  }
  i:hover{
    background: rgba(0, 0, 0, 0.4);
    // transform: rotate(180deg);
  }
}
.preview{
  margin: 0 !important;
  position: relative;
  max-height: 178px;
  overflow: hidden; 
  img{
    width: 100%;
  }
  img.scale{
    /* corrects inline gap in enclosing div */
    display: block;
    width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
    width: auto\9; /* ie8+9 */
    /* lt ie8 */
    -ms-interpolation-mode: bicubic; 
  }
}

.social{
  .btn{

    border-radius: 20px !important;
  }
  .facebook{
    float: left;
    padding: 4px 19px 4px 19px;
    background: #3b5998;
  }
  .facebook:hover{
    background: #6484B5;
    border-color: #6484B5;
  }
  .twitter{
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #0084b4;
  }
  .twitter:hover{
    background: #00aced;
    border-color: #00aced;
  }
  .google{
    background: #d34836;
    border-color: #d34836;
  }
}

.innerLoadingBar {
  padding-top: 60px;
  padding-left: 250px;
}

.outerLoadingBar{
  height:180px;
}
// soundcloud widget
// .widget{
//   border-radius: 0 !important; 
//   border: none !important; 
// }