<footer class="jumbotron">
    <h2>Do you want to become an Explorer?</h2>
    <p>Join our waiting list and we'll send you an invitation when our beta goes live</p>
    <div class="signup">
      <input type="text" class="form-control" placeholder="Enter your email">
    </div>
</footer>