<footer class="jumbotron">
    <h2>Do you want to join us on this journey?</h2>
    <p>Enter your email and we'll send you an invitation when our beta goes live</p>
    <p>Also for any questions, just send us a <a style='text-decoration: none' href="mailto:max@nodezen.me">message</a></p>
    <div class="signup">
      <%= form_tag('/subscribe_api/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
        <%= email_field(:email, :address, {id: "email", class: "form-control", placeholder: "Enter your email"}) %>
      <% end %>
    </div>
</footer>