<div class="row" id="navigation">
  <div class="navigation navbar-collapse collapse">
    <div class="navbar-brand">
        <a href="#top" class="bold nounderline page_scroll">NodeZen</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
          <a href="#explore" class="page_scroll">Explore</a>
      </li>
      <li>
          <a href="#discover" class="page_scroll">Discover</a>
      </li>
      <li>
          <a href="#collaborate" class="page_scroll">Collaborate</a>
      </li>
      <li>
          <a href="#graph" class="page_scroll">The Graph</a>
      </li>
      <li>
          <a href="#context" class="page_scroll">Context</a>
      </li>
    </ul>
  </div>
</div>